<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801398445076-u6hlucq0vdahjloqn5pfmfmm7qdorsot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801398445076-u6hlucq0vdahjloqn5pfmfmm7qdorsot</string>
	<key>API_KEY</key>
	<string>AIzaSyD1XzquMPc7WDbhDafB9NvNAgej99FkfvM</string>
	<key>GCM_SENDER_ID</key>
	<string>801398445076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-travel-app-3f538</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-travel-app-3f538.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801398445076:ios:5d765ee327ff55330dc301</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-travel-app-3f538-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>